// Place all the styles related to the status controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th{
  font-weigth: normal;
  background-color:#00FFFF;
  text-align:center;
  border:2px #ff0000 solid;
}
td{
  font-weigth: normal;
  background-color:#FFFFFF;
  text-align:center;
  border:2px #ff0000 solid;
}
